/* Custom properties */

* {
    box-sizing: border-box;
}

:root {
    --ff-ubuntu: 'Ubuntu', sans-serif;
    --ff-orienta: 'Orienta', sans-serif;
    --ff-hind-siliguri: 'Hind Siliguri', sans-serif;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-white: #FFFFFF;
    --clr-contrast: #F99136;
    --clr-dark: #334A52;
    --clr-primary: #6DB5CA;
    --clr-background: #FCF5EF;
    --clr-border: #707070;

    --fs-h1: 60px;
    --fs-h2: 48px;
    --fs-h3: 39px;
    --fs-h4: 25px;
    --fs-project-paragraph: 20px;
}

/* General styles */

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background: var(--clr-background);
    margin: 0;
    font-family: var(--ff-orienta);
    font-size: var(--fs-project-paragraph);
    font-weight: var(--fw-reg);
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

ul, li {
    margin: 0;
    padding: 0;
}

/* Typography */

h1,
h2,
h3,
h4,
p {
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-ubuntu);
    font-weight: var(--fw-bold);
}

h2 {
    font-size: var(--fs-h2);
    font-family: var(--ff-ubuntu);
    font-weight: var(--fw-bold);
}

h3 {
    font-size: var(--fs-h3);
    font-family: var(--ff-orienta);
    font-weight: var(--fw-reg);
}

h4 {
    font-size: var(--fs-h4);
    font-family: var(--ff-orienta);
    font-weight: var(--fw-reg);
}

p {
    font-size: var(--fs-project-paragraph);
    font-family: var(--ff-hind-siliguri);
    font-weight: var(--fw-reg);
}

/* Navbar */

nav {
    color: var(--clr-primary);
    max-width: 1356px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: 120px;
}

.header-logo-link {
    color: var(--clr-primary);
    text-decoration: none;
}

.header-logo-link:hover {
    color: var(--clr-primary);
}

.navbar-toggler {
    border: none;
    background: none;
}

.hamburger-icon {
    font-size: 35px;
    color: var(--clr-primary);
}

.nav-item {
    margin-left: 104px;
}

.header-link {
    color: var(--clr-primary);
    text-decoration: none;
    transition: 0.3s;
    transition-timing-function: ease-out;
}

.header-link:hover {
    color: var(--clr-dark);
}

.work-dropdown-item {
    font-size: var(--fs-h4);
    line-height: 52px;
}

.dropdown-menu {
    width: 264px;
    height: 286px;
    background-color: var(--clr-background);
    text-align: center;
}

/* My Work */

.my-work {
    background-color: var(--clr-primary);
    text-align: left;
    justify-content: center;
    padding-top: 86px;
    padding-bottom: 86px;
    padding-left: 282px;
    padding-right: 282px;
}

.work-card-link {
    display: block;
    text-decoration: none;
    height: 456px;
    max-width: 1356px;
    margin-left: auto;
    margin-right: auto;
}

.work-card {
    background: var(--clr-background);
    height: 456px;
    max-width: 1356px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 518px 682px;
    column-gap: 78px;
    border-radius: 8px;
    color: var(--clr-dark);
    transition: 0.4s;
    transition-timing-function: ease-out;
}

.work-card:hover {
    background: var(--clr-dark);
    color: var(--clr-background);
}

.work-card-link + .work-card-link {
    margin-top: 86px;
}

.card-image {
    height: 456px;
    min-width: 518px;
    max-width: 518px;
    width: 100%;
    border-radius: 8px 0 0 8px;
    background-image: url("../media/SCdeco Website PSD Mock-Up.jpg");
    background-size: cover;
    background-position: center;
}

.card-text {
    margin-top: 30px;
}

.card-tag {
    color: var(--clr-contrast);
}

.card-title {
    margin-top: 72px;
}

.card-description {
    margin-top: 32px;
    line-height: 56px;
}

/* Footer */

.footer {
    background: var(--clr-primary);
    color: var(--clr-dark);
    text-align: center;
    border-top: 1px solid var(--clr-border);
    padding-top: 99px;
    height: 296px;
}

.footer-text {
    padding-bottom: 30px;
}

.footer a {
    color: inherit;
    height: 36px;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 56px;
}

.social-list-item {
    margin-right: 56px;
}

.linkedin-icon {
    font-size: 36px;
    margin-top: 3px;
}

.mail-icon {
    font-size: 42px;
}

/* Project pages */

.title {
    padding-left: 560px;
    padding-right: 560px;
    padding-top: 280px;
    padding-bottom: 280px;
    text-align: center;
    color: var(--clr-dark);
    background-image: linear-gradient(rgba(255,255,255,.55), rgba(255,255,255,.55)), url("../media/SCdeco Website PSD Mock-Up.jpg");
    background-size: cover;
    background-position: center;
}

.project-summary {
    margin-top: 40px;
    line-height: 56px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.overview {
    background: var(--clr-primary);
    padding-left: 435px;
    padding-right: 435px;
    padding-top: 117px;
    padding-bottom: 117px;
    color: var(--clr-background);
}

.overview-title {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.overview-body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 250px 800px;
    margin-top: 48px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--fs-project-paragraph);
    font-family: var(--ff-hind-siliguri);
    row-gap: 32px;
    column-gap: 30px;
}

.overview-body-text {
    line-height: 32px;
}

.project-main-section {
    padding-left: 560px;
    padding-right: 560px;
    padding-top: 96px;
    color: var(--clr-dark);
}

.project-section-tag {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-section-title {
    margin-top: 24px;
    line-height: 72px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-paragraph {
    font-size: var(--fs-project-paragraph);
    font-family: var(--ff-hind-siliguri);
    color: var(--clr-dark);
    line-height: 32px;
    margin-top: 24px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-paragraph-problem {
    margin-top: 40px;
}

.project-question {
    margin-top: 24px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-section-subtitle {
    color: var(--clr-primary);
    margin-top: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.solution-subtitle {
    line-height: 56px;
}

.solution-list {
    margin-left: 24px;
}

.solution-image {
    width: 533px;
    margin-left: auto;
    text-align: right;
}

.research-hypothesis {
    display: grid;
    grid-template-columns: 112px auto;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.research-method {
    display: grid;
    grid-template-columns: 85px auto;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.research-results {
    display: grid;
    grid-template-columns: 78px auto;
    margin-bottom: 48px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.research-results-paragraph {
    margin-left: 0;
    margin-right: 0;
}

.research-carousel {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-section-subheading {
    margin-top: 64px;
}

.project-image {
    margin-top: 48px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-image-paragraph {
    margin-top: 48px;
}

.project-research-title {
    margin-top: 80px;
}

.value-map-list {
    margin-top: 0;
    margin-left: 50px;
}

.user-workflow-list {
    margin-left: 50px;
}

.research-competition-subtitle {
    margin-bottom: 48px;
}

.competition-carousel {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.insights-list {
    margin-top: 0;
    margin-left: 50px;
}

.design-lfp-grid {
    display: grid;
    margin-top: 48px;
    grid-template-columns: 392px 392px;
    row-gap: 19px;
    column-gap: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.prototype-link {
    color: var(--clr-primary);
}

.prototype-video {
    margin-top: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-evaluation::after {
    content: "";
    display: block;
    height: 2px;
    background: var(--clr-primary);
    margin-top: 48px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-reflections {
    padding-top: 48px;
    padding-bottom: 829px;
}

.project-reflections-paragraph {
    margin-top: 40px;
}

.project-reflections-list {
    margin-top: 32px;
    margin-left: 50px;
}