/* Custom properties */

* {
    box-sizing: border-box;
}

:root {
    --ff-ubuntu: 'Ubuntu', sans-serif;
    --ff-orienta: 'Orienta', sans-serif;
    --ff-hind-siliguri: 'Hind Siliguri', sans-serif;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-white: #FFFFFF;
    --clr-contrast: #F99136;
    --clr-dark: #334A52;
    --clr-primary: #6DB5CA;
    --clr-background: #FCF5EF;
    --clr-border: #707070;

    --fs-h1: 60px;
    --fs-h2: 48px;
    --fs-h3: 39px;
    --fs-h4: 25px;
    --fs-project-paragraph: 20px;
}

/* General styles */

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    background: var(--clr-background);
    margin: 0;
    font-family: var(--ff-orienta);
    font-size: var(--fs-project-paragraph);
    font-weight: var(--fw-reg);
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

ul, li, button, strong {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

label {
    position: relative;
}

/* Typography */

h1,
h2,
h3,
h4,
p {
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-ubuntu);
    font-weight: var(--fw-bold);
}

h2 {
    font-size: var(--fs-h2);
    font-family: var(--ff-ubuntu);
    font-weight: var(--fw-bold);
}

h3 {
    font-size: var(--fs-h3);
    font-family: var(--ff-orienta);
    font-weight: var(--fw-reg);
}

h4 {
    font-size: var(--fs-h4);
    font-family: var(--ff-orienta);
    font-weight: var(--fw-reg);
}

p {
    font-size: var(--fs-project-paragraph);
    font-family: var(--ff-hind-siliguri);
    font-weight: var(--fw-reg);
}

/* Navbar */

.website-navbar {
    color: var(--clr-primary);
    max-width: 1356px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    height: 120px;
}

.navbar-logo {
    margin-top: 33px;
}

.navbar-logo-link {
    color: var(--clr-primary);
}

.navbar-logo-link:hover {
    color: var(--clr-primary);
}

.navbar-collapse {
    margin-top: 40px;
    font-size: 35px;
    grid-column: 2;
    display: none;
    text-align: right;
}

.navbar-button {
    background: inherit;
    border: none;
    color: var(--clr-primary);
    display: flex;
}

.navbar-button:hover {
    color: var(--clr-dark);
    transition: 0.3s;
    transition-timing-function: ease-out;
}

.navbar-button-collapse:hover {
    color: var(--clr-primary);
}

.navbar-collapse-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar-item {
    margin-top: 45px;
    font: var(--ff-orienta);
    font-size: var(--fs-h4);
}

.navbar-link {
    color: var(--clr-primary);
    transition: 0.3s;
    transition-timing-function: ease-out;
}

.navbar-link:hover {
    color: var(--clr-dark);
}

.navbar-dropdown {
    position: relative;
}

.navbar-link-work {
    max-width: 104px;
}

.work-arrow-down {
    margin-left: 16px;
    margin-top: 4px;
}

.work-arrow-up {
    display: none;
}

.navbar-dropdown-content {
    display: none;
    background: var(--clr-background);
    position: absolute;
    left: -50%;
    width: 264px;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 1;
    text-align: center;
    padding-bottom: 24px;
}

.navbar-dropdown-item {
    display: block;
    margin-top: 24px;
    font: var(--ff-orienta);
    font-size: var(--fs-h4);
}

.navbar-email-responsive {
    display: none;
}

/* My Work */

.my-work {
    background-color: var(--clr-primary);
    text-align: left;
    justify-content: center;
    padding-top: 86px;
    padding-bottom: 86px;
}

.work-card-link {
    display: block;
    text-decoration: none;
    height: 456px;
    max-width: 1356px;
    margin-left: auto;
    margin-right: auto;
}

.work-card {
    background: var(--clr-background);
    height: 456px;
    max-width: 1356px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 518px 1fr;
    column-gap: 78px;
    border-radius: 8px;
    color: var(--clr-dark);
    transition: 0.4s;
    transition-timing-function: ease-out;
}

.work-card:hover {
    background: var(--clr-dark);
    color: var(--clr-background);
}

.work-card-link + .work-card-link {
    margin-top: 86px;
}

.card-image {
    height: 456px;
    min-width: 518px;
    max-width: 518px;
    width: 100%;
    border-radius: 8px 0 0 8px;
    background-image: url("../media/project1-scdeco/SCdeco Website PSD Mock-Up.jpg");
    background-size: cover;
    background-position: center;
}

.card-text {
    margin-top: 30px;
}

.card-tag {
    color: var(--clr-contrast);
}

.card-title {
    margin-top: 72px;
    font-family: var(--ff-ubuntu);
    font-size: var(--fs-h2);
}

.card-description {
    margin-top: 32px;
    line-height: 56px;
}

/* Footer */

.footer {
    background: var(--clr-primary);
    color: var(--clr-dark);
    text-align: center;
    border-top: 1px solid var(--clr-dark);
    padding-top: 99px;
    height: 296px;
}

.project-footer {
    border-top: none;
}

.footer a {
    color: inherit;
}

.social-list {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 95px;
    max-width: 166px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.linkedin-icon {
    font-size: 36px;
    margin-top: 3px;
}

.mail-icon {
    font-size: 41px;
}

/* Project pages */

.title {
    padding-top: 280px;
    padding-bottom: 280px;
    text-align: center;
    color: var(--clr-dark);
    background-image: linear-gradient(rgba(255,255,255,.55), rgba(255,255,255,.55)), url("../media/project1-scdeco/SCdeco Website PSD Mock-Up.jpg");
    background-size: cover;
    background-position: center;
}

.project-title {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-summary {
    margin-top: 40px;
    line-height: 56px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.before-after-button {
    background: var(--clr-contrast);
    color: var(--clr-white);
    border: none;
    border-radius: 40px;
    margin-top: 28px;
    width: 325px;
    height: 78px;
    transition: 0.2s;
    transition-timing-function: ease-out;
}

.before-after-button:hover {
    background: var(--clr-dark);
}

.overview {
    background: var(--clr-primary);
    padding-top: 117px;
    padding-bottom: 117px;
    color: var(--clr-background);
}

.overview-title {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

.overview-body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 24% 76%;
    margin-top: 48px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--fs-project-paragraph);
    font-family: var(--ff-hind-siliguri);
    row-gap: 32px;
}

.overview-body-text {
    line-height: 32px;
}

.project-main-section {
    padding-top: 96px;
    color: var(--clr-dark);
}

.project-section-tag {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-section-title {
    margin-top: 24px;
    line-height: 72px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-paragraph {
    font-size: var(--fs-project-paragraph);
    font-family: var(--ff-hind-siliguri);
    color: var(--clr-dark);
    line-height: 32px;
    margin-top: 24px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-paragraph-problem {
    margin-top: 40px;
}

.project-question {
    margin-top: 24px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-section-subtitle {
    color: var(--clr-primary);
    margin-top: 40px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.solution-subtitle {
    line-height: 56px;
}

.solution-list {
    margin-left: 24px;
}

.solution-image {
    width: 533px;
    margin-left: auto;
    text-align: right;
}

.tablet-title {
    display: none;
}

.research-table-text {
    margin-left: 0;
    margin-right: 0;
}

.research-hypothesis {
    display: grid;
    grid-template-columns: 112px 1fr;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.research-method {
    display: grid;
    grid-template-columns: 85px 1fr;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.research-results {
    display: grid;
    grid-template-columns: 78px 1fr;
    margin-bottom: 48px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.research-results-paragraph {
    margin-left: 0;
    margin-right: 0;
}

.research-carousel {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-nav-button {
    color: var(--clr-dark);
    font-size: 30px;
}

.project-section-subheading {
    margin-top: 64px;
}

.image-zoom {
    width: 800px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.image-zoom input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 3;
    pointer-events: none;
}

.user-profile-checkbox {
    width: 800px;
    height: 507px;
}

.popup-image {
    margin-top: 0;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-image {
    margin-top: 48px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-image-paragraph {
    margin-top: 48px;
}

.project-research-title {
    margin-top: 80px;
}

.value-map-list {
    margin-top: 0;
    margin-left: 50px;
}

.user-workflow-checkbox {
    width: 800px;
    height: 469px;
}

.user-workflow-list {
    margin-left: 50px;
}

.research-competition-subtitle {
    margin-bottom: 48px;
}

.competition-carousel {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.insights-list {
    margin-top: 0;
    margin-left: 50px;
}

.design-lfp-grid {
    display: grid;
    margin-top: 48px;
    grid-template-columns: 392px 392px;
    row-gap: 19px;
    column-gap: 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.prototype-link {
    color: var(--clr-primary);
    text-decoration: underline;
}

.prototype-video {
    margin-top: 48px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user-performance-checkbox {
    width: 800px;
    height: 723px;
}

.project-evaluation::after {
    content: "";
    display: block;
    height: 2px;
    background: var(--clr-primary);
    margin-top: 48px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.project-reflections {
    padding-top: 48px;
    padding-bottom: 96px;
}

.project-reflections-paragraph {
    margin-top: 40px;
}

.project-reflections-list {
    margin-top: 32px;
    margin-left: 50px;
}

/* Desktop-only styles */

@media (min-width: 1200px) {
    .navbar-link-work:hover .navbar-dropdown-content {
        display: block;
    }

    .sidenav {
        z-index: 1;
        position: fixed;
        width: 135px;
        top: 334px;
        left: 144px;
    }

    .sidenav-item + .sidenav-item {
        margin-top: 32px;
    }

    .sidenav-link {
        color: var(--clr-dark);
    }

    .sidenav-link:hover {
        color: var(--clr-contrast);
        transition: 0.2s;
        transition-timing-function: ease-out;
    }

    .image-zoom input:not(:checked) + .image-zoom-popup img:hover {
        cursor: zoom-in;
    }

    .image-zoom input:checked + .image-zoom-popup img:hover {
        cursor: zoom-out;
    }

    .image-zoom input:checked + .image-zoom-popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 98vw;
        height: 98vh;
        overflow: auto;
    }
    
    .image-zoom input:checked + .image-zoom-popup .popup-image {
        z-index: 2;
        width: 98vw;
        height: auto;
        margin-top: 0;
    }

    .image-zoom input:checked {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }

    .no-scroll {
        overflow: hidden;
    }
}

/* Viewport: tablet */

@media (max-width: 1200px) {
    :root {
        --fs-h1: 39px;
        --fs-h2: 31px;
        --fs-h3: 20px;
        --fs-h4: 16px;
        --fs-project-paragraph: 16px;
    }

    /* Navbar */

    .navbar-logo {
        margin-top: 23px;
    }

    .navbar-item {
        display: none;
    }

    .navbar-dropdown {
        display: none;
    }

    .navbar-collapse {
        display: block;
        position: relative;
        margin-top: 23px;
    }

    .website-navbar {
        max-width: 604px;
        grid-template-columns: 95% 5%;
        height: 80px;
    }

    .website-navbar.responsive {
        position: relative;
    }

    .website-navbar.responsive .navbar-collapse-content {
        grid-column: 2;
        display: block;
        position: absolute;
        top: 80px; /* Height of navbar */
        right: -120%;
        background: var(--clr-background);
        width: 232px;
        text-align: left;
        padding-top: 16px;
        padding-bottom: 16px;
        box-shadow: 0px 3px 6px #00000029;
    }

    .website-navbar.responsive .navbar-item {
        display: block;
        position: relative;
        margin-top: 32px;
        margin-left: 78px;
        font-size: var(--fs-h3);
    }

    .website-navbar.responsive .navbar-item-about {
        margin-top: 0;
    }

    .website-navbar.responsive .navbar-dropdown {
        display: block;
        position: relative;
    }

    .website-navbar.responsive .navbar-dropdown-content.open {
        display: block;
        width: 232px;
        z-index: unset;
        box-shadow: none;
        position: relative;
        left: -75%;
        margin-top: 32px;
        padding-bottom: 0;
    }

    .website-navbar.responsive .navbar-dropdown-item {
        font-size: var(--fs-h3);
    }

    .website-navbar.responsive .work-arrow-down.hide {
        display: none;
    }

    .website-navbar.responsive .work-arrow-up.show {
        display: inline-block;
        margin-left: 16px;
        margin-top: 7px;
    }

    .website-navbar.responsive .navbar-email {
        display: none;
    }

    .website-navbar.responsive .navbar-email-responsive {
        display: block;
        width: 52px;
    }

    /* My Work */

    .my-work {
        padding-top: 88px;
        padding-bottom: 88px;
    }

    .work-card-link {
        height: 240px;
        max-width: 604px;
    }

    .work-card {
        height: 240px;
        max-width: 604px;
        grid-template-columns: 231px 1fr;
        column-gap: 47px;
    }

    .work-card-link + .work-card-link {
        margin-top: 88px;
    }

    .card-image {
        height: 240px;
        min-width: 231px;
        max-width: 231px;
    }

    .card-text {
        margin-top: 14px;
    }

    .card-title {
        margin-top: 31px;
        font-family: var(--ff-ubuntu);
        font-size: var(--fs-h2);
    }
    
    .card-description {
        margin-top: 12px;
        line-height: 32px;
    }

    /* Footer */

    .footer {
        padding-top: 38px;
        height: 136px;
    }
    
    .social-list {
        grid-template-columns: 1fr 1fr;
        column-gap: 55px;
        max-width: 106px;
        margin-top: 17px;
    }
    
    .linkedin-icon {
        font-size: 24px;
        margin-top: 2px;
    }
    
    .mail-icon {
        font-size: 29px;
    }

    /* Project pages */

    .sidenav {
        display: none;
    }

    .title {
        padding-top: 95px;
        padding-bottom: 95px;
    }

    .project-title {
        max-width: 448px;
    }

    .project-summary {
        margin-top: 16px;
        line-height: 32px;
        max-width: 448px;
    }

    .before-after-button {
        border-radius: 26px;
        margin-top: 12px;
        width: 210px;
        height: 51px;
    }

    .overview {
        padding-top: 56px;
        padding-bottom: 56px;
    }
    
    .overview-title {
        max-width: 604px;
    }
    
    .overview-body {
        grid-template-columns: 26% 74%;
        margin-top: 28px;
        max-width: 604px;
        row-gap: 16px;
    }
    
    .overview-body-text {
        line-height: 24px;
    }

    .project-main-section {
        padding-top: 64px;
    }

    .project-section-tag {
        max-width: 472px;
    }

    .project-section-title {
        margin-top: 8px;
        line-height: 48px;
        max-width: 472px;
    }

    .project-paragraph {
        line-height: 24px;
        margin-top: 24px;
        max-width: 472px;
    }

    .project-question {
        margin-top: 16px;
        max-width: 472px;
    }

    .project-section-subtitle {
        margin-top: 24px;
        max-width: 472px;
    }

    .solution-subtitle {
        line-height: 32px;
    }

    .solution-list {
        margin-left: 20px;
        margin-top: 16px;
    }

    .solution-image {
        width: 245px;
    }

    .desktop-title {
        display: none;
    }

    .tablet-title {
        display: block;
    }

    .research-hypothesis {
        grid-template-columns: 92px 1fr;
        max-width: 472px;
    }

    .research-method {
        grid-template-columns: 70px 1fr;
        max-width: 472px;
    }
    
    .research-results {
        grid-template-columns: 65px 1fr;
        margin-bottom: 32px;
        max-width: 472px;
    }

    .research-carousel {
        max-width: 472px;
    }

    .carousel-nav-button {
        font-size: 24px;
    }

    .project-section-subheading {
        margin-top: 48px;
    }

    .image-zoom {
        max-width: 472px;
        width: auto;
        margin-top: 32px;
    }

    .user-profile-checkbox {
        width: 1px;
        height: 1px;
    }
    
    .popup-image {
        max-width: 472px;
        width: auto;
    }

    .project-image {
        margin-top: 32px;
        max-width: 472px;
    }

    .project-image-paragraph {
        margin-top: 32px;
    }

    .project-research-title {
        margin-top: 56px;
    }

    .value-map-list {
        margin-left: 40px;
    }

    .user-workflow-checkbox {
        width: 1px;
        height: 1px;
    }

    .user-workflow-list {
        margin-left: 44px;
    }

    .research-competition-subtitle {
        margin-bottom: 32px;
    }

    .competition-carousel {
        max-width: 472px;
    }

    .insights-list {
        margin-left: 40px;
    }

    .design-lfp-grid {
        margin-top: 32px;
        grid-template-columns: 231px 231px;
        row-gap: 11px;
        column-gap: 10px;
        max-width: 472px;
    }

    .prototype-video {
        margin-top: 32px;
        display: block;
    }

    .user-performance-checkbox {
        width: 1px;
        height: 1px;
    }

    .project-evaluation::after {
        margin-top: 32px;
        max-width: 472px;
    }

    .project-reflections {
        padding-top: 32px;
        padding-bottom: 64px;
    }

    .project-reflections-paragraph {
        margin-top: 24px;
    }

    .project-reflections-list {
        margin-top: 0;
        margin-left: 40px;
    }
}

/* Viewport: mobile */

@media (max-width: 550px) {
    :root {
        --fs-h1: 31px;
        --fs-h2: 25px;
        --fs-h3: 20px;
        --fs-h4: 16px;
        --fs-project-paragraph: 16px;
    }

    /* Navbar */

    .navbar-logo {
        margin-top: 26px;
    }

    .navbar-collapse {
        margin-top: 26px;
        font-size: 28px;
    }

    .website-navbar {
        max-width: 318px;
        grid-template-columns: 92% 8%;
    }

    /* My Work */

    .my-work {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .work-card-link {
        height: 416px;
        max-width: 318px;
    }

    .work-card {
        height: 416px;
        max-width: 318px;
        display: block;
    }

    .work-card-link + .work-card-link {
        margin-top: 48px;
    }

    .card-image {
        height: 184px;
        min-width: 318px;
        max-width: 318px;
        border-radius: 8px 8px 0 0;
    }

    .card-text {
        margin-top: 23px;
        margin-left: 19px;
    }

    .card-title {
        margin-top: 32px;
        font-size: var(--fs-h1);
    }

    /* Footer */

    .footer {
        padding-top: 14px;
        height: 88px;
    }

    /* Project pages */

    .title {
        padding-top: 51px;
        padding-bottom: 51px;
    }

    .project-title {
        max-width: 318px;
    }

    .project-summary {
        max-width: 246px;
    }

    .overview {
        padding-top: 27px;
        padding-bottom: 27px;
    }
    
    .overview-title {
        max-width: 318px;
    }
    
    .overview-body {
        display: block;
        margin-top: 16px;
        max-width: 318px;
    }

    .overview-body-text-title {
        margin-top: 8px;
    }

    .project-section-tag {
        max-width: 318px;
    }

    .project-section-title {
        line-height: 40px;
        max-width: 318px;
    }

    .project-paragraph {
        max-width: 318px;
    }

    .project-question {
        margin-top: 8px;
        line-height: 24px;
        max-width: 318px;
    }

    .project-section-subtitle {
        max-width: 318px;
    }

    .solution-image {
        margin-top: 16px;
        width: 245px;
    }

    .research-hypothesis {
        max-width: 318px;
    }

    .research-method {
        max-width: 318px;
    }
    
    .research-results {
        max-width: 318px;
    }

    .research-carousel {
        max-width: 318px;
    }

    .carousel-nav-button {
        font-size: 20px;
    }

    .image-zoom {
        max-width: 318px;
    }
    
    .popup-image {
        max-width: 318px;
    }

    .project-image {
        max-width: 318px;
    }

    .competition-carousel {
        max-width: 318px;
    }

    .design-lfp-grid {
        grid-template-columns: 318px;
        row-gap: 16px;
        max-width: 318px;
    }

    .project-evaluation::after {
        max-width: 318px;
    }

    .project-reflections-paragraph {
        margin-top: 32px;
    }
}