/* Custom properties */

* {
    box-sizing: border-box;
}

:root {
    --ff-ubuntu: 'Ubuntu', sans-serif;
    --ff-orienta: 'Orienta', sans-serif;
    --ff-hind-siliguri: 'Hind Siliguri', sans-serif;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-white: #FFFFFF;
    --clr-contrast: #F99136;
    --clr-dark: #334A52;
    --clr-primary: #6DB5CA;
    --clr-background: #FCF5EF;
    --clr-border: #707070;

    --fs-h1: 60px;
    --fs-h2: 48px;
    --fs-h3: 24px;
    --fs-body: 36px;
    --fs-project-paragraph: 20px;
    --fs-project-subtitle: 39px;
}

/* General styles */

html {
    scroll-behavior: smooth;
}

header {
    height: 120px;
    margin: 0;
}

body {
    background: var(--clr-background);
    margin: 0;
    font-family: var(--ff-orienta);
    font-size: var(--fs-body);
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
    font-family: var(--ff-ubuntu);
}

h2 {
    font-size: var(--fs-h2);
    font-family: var(--ff-ubuntu);
}

h3 {
    font-size: var(--fs-h3);
    font-family: var(--ff-orienta);
}

p {
    font-size: var(--fs-h3);
    font-family: var(--ff-hind-siliguri);
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    color: var(--clr-primary);
    padding-left: 282px;
    padding-right: 282px;
}

.home-page-title {
    margin-top: 33px;
    margin-right: 390px;
}

.home-page-nav {
    margin-top: 46px;
}

.header-link {
    color: inherit;
    text-decoration: none;
}

.header-link-email {
    color: inherit;
}

/* My Work */

.my-work {
    background-color: var(--clr-primary);
    text-align: left;
    justify-content: center;
    padding-top: 86px;
    padding-bottom: 86px;
    padding-left: 282px;
    padding-right: 282px;
}

.card {
    background: var(--clr-background);
    height: 466px;
    display: flex;
    border-radius: 8px;
}

.card + .card {
    margin-top: 86px;
}

.card-image {
    height: 466px;
    width: 518px;
    margin-right: 58px;
    border-radius: 8px 0 0 8px;
}

.card-text {
    margin-right: 58px;
    margin-top: 30px;
}

.card-tag {
    color: var(--clr-contrast);
}

.card-title {
    color: var(--clr-dark);
    margin-top: 87px;
}

.card-description {
    color: var(--clr-dark);
    margin-top: 27px;
    font-size: var(--fs-body);
    font-family: var(--ff-orienta);
    line-height: 50px;
}

/* Footer */

.footer {
    background: var(--clr-primary);
    color: var(--clr-dark);
    text-align: center;
    font-size: var(--fs-h3);
    border-top: 1px solid var(--clr-border);
    padding-top: 100px;
    height: 296px;
}

.footer-text {
    padding-bottom: 31px;
}

.footer a {
    color: inherit;
    height: 36px;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-left: 56px;
}

.social-list-item {
    margin-right: 56px;
}

.linkedin-icon {
    font-size: 36px;
    margin-top: 3px;
}

.mail-icon {
    font-size: 42px;
}

/* Project pages */

.title {
    padding-left: 560px;
    padding-right: 560px;
    padding-top: 280px;
    padding-bottom: 280px;
    text-align: center;
}

.project-summary {
    font-size: var(--fs-project-subtitle);
    font-family: var(--ff-orienta);
}

.overview {
    background: var(--clr-primary);
    padding-left: 435px;
    padding-right: 435px;
    padding-top: 117px;
    padding-bottom: 117px;
    color: var(--clr-background);
}

.overview-body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 250px 800px;
    margin-top: 48px;
}

.project-main-section {
    padding-left: 560px;
    padding-right: 560px;
    padding-top: 96px;
}

.project-section-title {
    margin-top: 24px;
    line-height: 72px;
}

.project-paragraph {
    font-size: var(--fs-project-paragraph);
    font-family: var(--fs-hind-siliguri);
    line-height: 32px;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.project-paragraph-problem {
    margin-top: 40px;
}

.project-question {
    margin-top: 24px;
}

.project-section-subtitle {
    font-size: var(--fs-project-subtitle);
    color: var(--clr-primary);
    line-height: 56px;
}

.solution-image-overlay {
    text-align: right;
    position: relative;
    top: 0;
    left: 0;
}

.solution-image {
    width: 533px;
    margin-left: auto;
}

.solution-image-bottom {
    position: relative;
    top: 0;
    left: 0;
}

.solution-image-top {
    position: absolute;
    top: 80px;
    left: 250px;
}